@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>DKP.</h1>
                <h2>Welcome</h2>
            </hgroup>
            <p>
                The debt tracking website.
            </p>
        </div>
    </section>
}
<h3>How it works:</h3>
<ol class="round">
    <li class="one">
        <h5>Use analyse to choose one person to pay</h5>
        See the @Html.ActionLink("analyse", "Index", "Analyse") tab.
    </li>

    <li class="two">
        <h5>Record the debt in DKP</h5>
        Use the @Html.ActionLink("transactions", "Index", "Transaction") tab record the debts.
    </li>

    <li class="three">
        <h5>Repeat</h5>
        By having the person who owes the most pay each time, the debt will not grow
        too large.
    </li>
</ol>
