<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DinnerKillPoints.Properties.Settings.DKPConnectionString"
            connectionString="Data Source=.;Initial Catalog=DKP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>