@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>DKP Upgrade</h2>
    Hi guys, DKP is getting back on line. I've migrated the website to run on Linux and stuff,
    so there may still be some kinks to iron out.
</div>