@{
    ViewBag.Title = "My Debt";
}

<h2>My Debt</h2>

<p>Select you name to see who you owe money:</p>

<ul>
    @foreach (Person p in Model)
    {
        <li>
            @Html.ActionLink(p.ToString(), "Details", new { id = p.Id })
        </li>
    }
</ul>
