@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Dinner Kill Points</h2>
    <p>
        This is Austin's website for splitting bills and tracking debt.
    </p>
    <h3>
        How it works
    </h3>
    <p>
        The website exposes a limited interface for recording debts.
        However the advanced bill split algorithm Austin uses to split bills
        is deisgned to fairly split bills, down to the fraction of a penny.
    </p>
    <h3>Advanced Usage</h3>
    <p>
        If you have a group of friends that reguarlly dines together,
        you don't every actually have to formally pay each other back.
        By using the @Html.ActionLink("Analyse", "Index", "Analyse") feature
        to determine who pays, whoever owes the group the most will pay.
        That way the amount of debt will not grow too large for any given person.
    </p>
</div>