@{
    ViewBag.Title = "Bill Splits";
}

<h2>Bill Splits</h2>
@if (Context.User.IsInRole("DKP"))
{
    @Html.ActionLink("Add", "Add", (object)null, new { @class = "btn btn-default" })
}

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (BillSplit bs in Model)
        {
        <tr>
            <td>@bs.Id</td>
            <td>@bs.PrettyName</td>
            <td>@Html.ActionLink("Details", "Details", new { id = bs.Id })</td>
        </tr>
        }
    </tbody>
</table>