@{
    ViewBag.Title = "Bill Splits";
}

<h2>Bill Splits</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (BillSplit bs in Model)
        {
        <tr>
            <td>@bs.Id</td>
            <td>@bs.PrettyName<td>
            <td>@Html.ActionLink("Details", "Details", new { id = bs.Id })</td>
        </tr>
        }
    </tbody>
</table>