<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MailMerge.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Austin.DkpLib.Properties.Settings.DKPConnectionString" connectionString="Data Source=mssqloltp.wise.local;Initial Catalog=DKP;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <MailMerge.Properties.Settings>
      <setting name="EmailUser" serializeAs="String">
        <value>AustinWise@gmail.com</value>
      </setting>
      <setting name="EmailPassword" serializeAs="String">
        <value />
      </setting>
    </MailMerge.Properties.Settings>
  </userSettings>
</configuration>
