<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Austin.DkpLib.Properties.Settings.DKPConnectionString" connectionString="Data Source=10.5.2.102;Initial Catalog=DKP;User ID=Austin" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
